Repository 2-jjong/LikeLion-12th-Hackathon, pull requests merged in 2025-06, with the labels that each got.

#21 chore: issue, PR template 세팅 & auth dir 구조 변경
  Backend/.github/ISSUE_TEMPLATE/bug_report.md
  Backend/.github/ISSUE_TEMPLATE/feature_request.md
  Backend/.github/PULL_REQUEST_TEMPLATE.md
  Backend/src/main/java/com/demo/nimn/config/auth/SecurityConfig.java
  Backend/src/main/java/com/demo/nimn/controller/auth/UserController.java
  Backend/src/main/java/com/demo/nimn/dao/auth/UserDAO.java
  Backend/src/main/java/com/demo/nimn/dao/auth/UserDAOImpl.java
  Backend/src/main/java/com/demo/nimn/dto/auth/CustomUserDetails.java
  Backend/src/main/java/com/demo/nimn/dto/auth/UserDTO.java
  Backend/src/main/java/com/demo/nimn/dto/auth/UserDetails.java
  Backend/src/main/java/com/demo/nimn/dto/auth/UsersEmailDTO.java
  Backend/src/main/java/com/demo/nimn/entity/auth/Users.java
  Backend/src/main/java/com/demo/nimn/filter/JWTFilter.java
  Backend/src/main/java/com/demo/nimn/filter/JWTUtil.java
  Backend/src/main/java/com/demo/nimn/filter/LoginFilter.java
  Backend/src/main/java/com/demo/nimn/repository/auth/UserRepository.java
  Backend/src/main/java/com/demo/nimn/service/auth/UserDetailsServiceImpl.java
  Backend/src/main/java/com/demo/nimn/service/auth/UserService.java
  Backend/src/main/java/com/demo/nimn/service/auth/UserServiceImpl.java
Labels: refactor

#57 design: 마이페이지 디자인 수정(#12)
  Front/src/CSS/Mypage.css
  Front/src/pages/MyPage.jsx
Labels: refactor, frontend

#56 feat: 이메일 인증 구현 및 JWT, CORS 리팩토링 (#44)
  Backend/build.gradle
  Backend/src/main/java/com/demo/nimn/config/cors/DevCorsConfig.java
  Backend/src/main/java/com/demo/nimn/config/cors/WebConfig.java
  Backend/src/main/java/com/demo/nimn/config/security/SecurityConfig.java
  Backend/src/main/java/com/demo/nimn/config/security/SecurityConfigDev.java
  Backend/src/main/java/com/demo/nimn/config/security/SecurityConfigProd.java
  Backend/src/main/java/com/demo/nimn/controller/auth/UserController.java
  Backend/src/main/java/com/demo/nimn/controller/email/EmailController.java
  Backend/src/main/java/com/demo/nimn/controller/image/ImageController.java
  Backend/src/main/java/com/demo/nimn/dto/email/EmailDTO.java
  Backend/src/main/java/com/demo/nimn/dto/email/EmailRequestDto.java
  Backend/src/main/java/com/demo/nimn/filter/JWTFilter.java
  Backend/src/main/java/com/demo/nimn/filter/JWTUtil.java
  Backend/src/main/java/com/demo/nimn/filter/LoginFilter.java
  Backend/src/main/java/com/demo/nimn/service/auth/UserServiceImpl.java
  Backend/src/main/java/com/demo/nimn/service/email/MailService.java
  Backend/src/main/resources/application.properties
Labels: feature, refactor, backend

#59 design: 전체식단페이지 디자인 수정 완료(#7)
  Front/src/CSS/AllDietPage.css
  Front/src/pages/AllDietPage.jsx
Labels: refactor, frontend

#60 chore: github actions 백엔드 배포 워크플로우 추가
  .github/workflows/backend-deploy.yml
  Backend/src/main/resources/application.properties
Labels: feature, backend

#61 chore: GitHub Actions 배포 워크플로우 안정성 개선
  .github/workflows/backend-deploy.yml
Labels: feature, backend

#62 chore: GitHub Actions 배포 워크플로우 스크립트 기반으로 변경
  .github/workflows/backend-deploy.yml
  Backend/build.gradle
Labels: feature, backend

#63 design: Layout 컴포넌트 생성, 로고 이미지 변경, 아이콘 변경(#6, #54)
  Front/public/favicon.ico
  Front/public/logo192.png
  Front/public/logo512.png
  Front/src/App.css
  Front/src/App.js
  Front/src/CSS/BottomNav.css
  Front/src/CSS/Header.css
  Front/src/CSS/Login.css
  Front/src/CSS/MainPage.css
  Front/src/components/Layout.jsx
  Front/src/images/logo.png
  Front/src/images/logoPrev.png
  Front/src/pages/Admin.jsx
  Front/src/pages/AllDietPage.jsx
  Front/src/pages/DietInfoPage.jsx
  Front/src/pages/DietPaymentComplete.jsx
  Front/src/pages/DietPaymentMainPage.jsx
  Front/src/pages/DietPaymentPage.jsx
  Front/src/pages/DietSelectionPage.jsx
  Front/src/pages/Login.jsx
  Front/src/pages/MainPage.jsx
  Front/src/pages/MenuSelectionPage.jsx
  Front/src/pages/MyPage.jsx
  Front/src/pages/Notification.jsx
  Front/src/pages/OrderList.jsx
  Front/src/pages/Signup.jsx
  Front/src/pages/Survey.jsx
  Front/src/pages/SurveyDetail.jsx
  Front/src/pages/UserInfoUpdate.jsx
  Front/src/pages/WeeklyFoodMenu.jsx
  Front/src/pages/testMain.jsx
Labels: refactor, frontend

#65 design: 전체식단페이지 카드 수정, 식단 상세페이지 디자인 변경(#64)
  Front/src/CSS/AllDietPage.css
  Front/src/CSS/DietInfoPage.css
  Front/src/pages/AllDietPage.jsx
  Front/src/pages/DietInfoPage.jsx
Labels: refactor, frontend

#67 design:회원가입 페이지 하단 여백 삭제(#16)
  Front/src/CSS/Signup.css
Labels: refactor, frontend

#66 design: 내 정보 수정 페이지 디자인 수정(#18)
  Front/src/CSS/UserInfoUpdate.css
  Front/src/components/BottomNav.jsx
  Front/src/pages/UserInfoUpdate.jsx
Labels: refactor, frontend

#72 design: 메인 페이지 여백 삭제, 프레임 조정
  Front/src/App.css
  Front/src/CSS/BottomNav.css
  Front/src/CSS/Header.css
  Front/src/CSS/MainPage.css
Labels: refactor, frontend

#73 chore: Front CICD 구축완료
  .github/workflows/ front-deploy.yml
Labels: frontend

#70 refactor: 외부 API Service 분리, RestTemplate Bean 중복 생성 해결(#39, #43)
  Backend/src/main/java/com/demo/nimn/config/OpenAiConfig.java
  Backend/src/main/java/com/demo/nimn/config/PaymentConfig.java
  Backend/src/main/java/com/demo/nimn/config/RestTemplateConfig.java
  Backend/src/main/java/com/demo/nimn/service/ai/AiService.java
  Backend/src/main/java/com/demo/nimn/service/ai/AiServiceImpl.java
  Backend/src/main/java/com/demo/nimn/service/image/ImageServiceImpl.java
  Backend/src/main/java/com/demo/nimn/service/meal/MealServiceImpl.java
Labels: refactor, backend

#76 design: 주문내역 디자인 수정(#15)
  Front/src/CSS/OrderList.css
  Front/src/CSS/WeeklyFoodMenu.css
  Front/src/pages/OrderList.jsx
Labels: refactor, frontend

#75 feat: 알림 서비스 전체 기능 구현 및 웹소켓 연결 상태 관리 추가
  Backend/src/main/java/com/demo/nimn/NimnApplication.java
  Backend/src/main/java/com/demo/nimn/config/WebSocketConfig.java
  Backend/src/main/java/com/demo/nimn/controller/notification/NotificationController.java
  Backend/src/main/java/com/demo/nimn/dto/notification/DailyDietDTO.java
  Backend/src/main/java/com/demo/nimn/dto/notification/DailyReviewDTO.java
  Backend/src/main/java/com/demo/nimn/dto/notification/DietNotificationDTO.java
  Backend/src/main/java/com/demo/nimn/dto/notification/ExternalDietApiResponseDTO.java
  Backend/src/main/java/com/demo/nimn/dto/notification/ExternalDietNotificationDTO.java
  Backend/src/main/java/com/demo/nimn/dto/notification/ExternalPaymentApiResponseDTO.java
  Backend/src/main/java/com/demo/nimn/dto/notification/ExternalPaymentNotificationDTO.java
  Backend/src/main/java/com/demo/nimn/dto/notification/MealSelectionDTO.java
  Backend/src/main/java/com/demo/nimn/dto/notification/NotificationDTO.java
  Backend/src/main/java/com/demo/nimn/dto/notification/PaymentNotificationDTO.java
  Backend/src/main/java/com/demo/nimn/dto/notification/ReviewDTO.java
  Backend/src/main/java/com/demo/nimn/dto/notification/SurveyNotificationDTO.java
  Backend/src/main/java/com/demo/nimn/dto/notification/response/NotificationCountDTO.java
  Backend/src/main/java/com/demo/nimn/entity/notification/DietNotification.java
  Backend/src/main/java/com/demo/nimn/entity/notification/ExternalDietInfo.java
  Backend/src/main/java/com/demo/nimn/entity/notification/ExternalPaymentInfo.java
  Backend/src/main/java/com/demo/nimn/entity/notification/Notification.java
  Backend/src/main/java/com/demo/nimn/entity/notification/PaymentNotification.java
  Backend/src/main/java/com/demo/nimn/entity/notification/SurveyNotification.java
  Backend/src/main/java/com/demo/nimn/enums/NotificationType.java
  Backend/src/main/java/com/demo/nimn/repository/notification/NotificationRepository.java
  Backend/src/main/java/com/demo/nimn/service/notification/NotificationService.java
  Backend/src/main/java/com/demo/nimn/service/notification/NotificationServiceImpl.java
  Backend/src/main/java/com/demo/nimn/websocket/CustomChannelInterceptor.java
  Backend/src/main/java/com/demo/nimn/websocket/CustomWebSocketHandlerDecoratorFactory.java
  Backend/src/main/java/com/demo/nimn/websocket/NotificationWebSocketHandler.java
  Backend/src/main/java/com/demo/nimn/websocket/SessionManageService.java
  Backend/src/main/java/com/demo/nimn/websocket/StompPrincipal.java
Labels: feature, backend

#79 fix: MealServiceImpl 파일에 잘못된 패키지 import 삭제
  Backend/src/main/java/com/demo/nimn/service/meal/MealServiceImpl.java
Labels: fix, backend

#81 refactor: Service 순환 의존성 해결(#38)
  Backend/src/main/java/com/demo/nimn/service/meal/MealServiceImpl.java
  Backend/src/main/java/com/demo/nimn/service/review/ReviewServiceImpl.java
Labels: refactor, backend

#85 fix: 프론트 CI/CD 오류 수정
  .github/workflows/frontend-deploy.yml
Labels: fix, frontend

#87 fix: 배포 스크립트 pm2 제거 후 nginx로 변경
  .github/workflows/frontend-deploy.yml
Labels: fix, frontend

#88 design: 관리자페이지 ui 풀스크린 수정 & app.js 수정(#5)
  Frontend/src/App.js
  Frontend/src/CSS/Admin.css
  Frontend/src/pages/Admin.jsx
Labels: refactor, frontend

#94 fix: review 서비스 import 패키지 오류 해결
  Backend/src/main/java/com/demo/nimn/service/review/ReviewService.java
  Backend/src/main/java/com/demo/nimn/service/review/ReviewServiceImpl.java
Labels: fix, backend

#95 design: 알림 페이지 디자인 수정 및 설문조사 페이지 디자인 수정(#14,#19,#20)
  Frontend/src/CSS/Notification.css
  Frontend/src/CSS/Survey.css
  Frontend/src/pages/Notification.jsx
  Frontend/src/pages/Survey.jsx
Labels: refactor, frontend

#99 fix: null 제약 조건 오류 수정 및 테스트용 알림 API 추가 (#50)
  Backend/src/main/java/com/demo/nimn/config/WebSocketConfig.java
  Backend/src/main/java/com/demo/nimn/controller/notification/NotificationController.java
  Backend/src/main/java/com/demo/nimn/repository/notification/NotificationRepository.java
  Backend/src/main/java/com/demo/nimn/service/notification/NotificationService.java
  Backend/src/main/java/com/demo/nimn/service/notification/NotificationServiceImpl.java
Labels: fix, backend

#100 design: 대시보드 및 식단 관리 수정, 주문 관리 추가(#5)
  Frontend/src/CSS/Admin.css
  Frontend/src/pages/Admin.jsx
Labels: refactor, frontend

#105 refactor: Payment 시스템 전체 점검 및 수정(#34)
  Backend/src/main/java/com/demo/nimn/controller/payment/PaymentController.java
  Backend/src/main/java/com/demo/nimn/dao/payment/PaymentDAO.java
  Backend/src/main/java/com/demo/nimn/dao/payment/PaymentDAOImpl.java
  Backend/src/main/java/com/demo/nimn/dto/order/OrderDTO.java
  Backend/src/main/java/com/demo/nimn/dto/payment/PaymentDTO.java
  Backend/src/main/java/com/demo/nimn/dto/payment/PaymentResponseDTO.java
  Backend/src/main/java/com/demo/nimn/dto/payment/PaymentResponseDTOS.java
  Backend/src/main/java/com/demo/nimn/dto/payment/UserDTO.java
  Backend/src/main/java/com/demo/nimn/entity/order/Order.java
  Backend/src/main/java/com/demo/nimn/entity/payment/Payment.java
  Backend/src/main/java/com/demo/nimn/repository/order/OrderRepository.java
  Backend/src/main/java/com/demo/nimn/repository/payment/PaymentRepository.java
  Backend/src/main/java/com/demo/nimn/service/notification/NotificationServiceImpl.java
  Backend/src/main/java/com/demo/nimn/service/order/OrderService.java
  Backend/src/main/java/com/demo/nimn/service/order/OrderServiceImpl.java
  Backend/src/main/java/com/demo/nimn/service/payment/PaymentService.java
  Backend/src/main/java/com/demo/nimn/service/payment/PaymentServiceImpl.java
Labels: refactor, backend

#106 fix: 존재하지 않는 DAO import 삭제
  Backend/src/main/java/com/demo/nimn/service/payment/PaymentServiceImpl.java
Labels: fix, backend

#107 refactor: Auth 리팩토링 및 Swagger 적용
  Backend/src/main/java/com/demo/nimn/config/cors/DevCorsConfig.java
  Backend/src/main/java/com/demo/nimn/config/security/SecurityConfigDev.java
  Backend/src/main/java/com/demo/nimn/config/security/SecurityConfigProd.java
  Backend/src/main/java/com/demo/nimn/controller/auth/UserController.java
  Backend/src/main/java/com/demo/nimn/controller/diet/DailyDietController.java
  Backend/src/main/java/com/demo/nimn/controller/diet/FoodSelectionController.java
  Backend/src/main/java/com/demo/nimn/controller/diet/WeeklyDietController.java
  Backend/src/main/java/com/demo/nimn/controller/email/EmailController.java
  Backend/src/main/java/com/demo/nimn/controller/image/ImageController.java
  Backend/src/main/java/com/demo/nimn/dao/image/ImageDAO.java
  Backend/src/main/java/com/demo/nimn/dao/image/ImageDAOImpl.java
  Backend/src/main/java/com/demo/nimn/dto/auth/UserDTO.java
  Backend/src/main/java/com/demo/nimn/dto/auth/UserDetails.java
  Backend/src/main/java/com/demo/nimn/filter/JWTFilter.java
  Backend/src/main/java/com/demo/nimn/filter/JWTUtil.java
  Backend/src/main/java/com/demo/nimn/filter/LoginFilter.java
  Backend/src/main/java/com/demo/nimn/service/auth/UserService.java
  Backend/src/main/java/com/demo/nimn/service/auth/UserServiceImpl.java
  Backend/src/main/java/com/demo/nimn/service/image/ImageServiceImpl.java
Labels: refactor, backend

#108 refactor: Image 시스템 로직 점검 및 수정
  Backend/src/main/java/com/demo/nimn/controller/image/ImageController.java
  Backend/src/main/java/com/demo/nimn/dto/image/ImageDTO.java
  Backend/src/main/java/com/demo/nimn/entity/image/Image.java
  Backend/src/main/java/com/demo/nimn/service/ai/AiServiceImpl.java
  Backend/src/main/java/com/demo/nimn/service/food/FoodServiceImpl.java
  Backend/src/main/java/com/demo/nimn/service/image/ImageService.java
  Backend/src/main/java/com/demo/nimn/service/image/ImageServiceImpl.java
Labels: refactor, backend

#110 refactor: 소켓 연결 CORS 주소 추가 (#50)
  Backend/src/main/java/com/demo/nimn/config/security/SecurityConfigDev.java
  Backend/src/main/java/com/demo/nimn/config/security/SecurityConfigProd.java
Labels: refactor, backend

#114 fix: Config 설정
  Backend/src/main/java/com/demo/nimn/config/cors/WebConfig.java
  Backend/src/main/java/com/demo/nimn/config/security/SecurityConfigProd.java
Labels: fix, backend

#116 fix: AWS 환경 배포 후 서버 시간대 한국 시간으로 변경
  Backend/src/main/java/com/demo/nimn/NimnApplication.java
Labels: fix, backend

#118 fix: 로그인에서 CORS 에러 해결
  Backend/src/main/java/com/demo/nimn/config/security/SecurityConfigProd.java
Labels: fix, backend

#124 feature: Payment 전체 결제 내역 조회 추가
  Backend/src/main/java/com/demo/nimn/controller/payment/PaymentController.java
  Backend/src/main/java/com/demo/nimn/repository/payment/PaymentRepository.java
  Backend/src/main/java/com/demo/nimn/service/payment/PaymentService.java
  Backend/src/main/java/com/demo/nimn/service/payment/PaymentServiceImpl.java
Labels: feature, backend

#125 refactor: Notification 소켓 연결 로직 변경 및 전체적인 Swagger 문서 정리 (#50)
  Backend/src/main/java/com/demo/nimn/config/WebSocketConfig.java
  Backend/src/main/java/com/demo/nimn/controller/food/FoodController.java
  Backend/src/main/java/com/demo/nimn/controller/notification/NotificationController.java
  Backend/src/main/java/com/demo/nimn/dto/food/DailyFoodPlanDTO.java
  Backend/src/main/java/com/demo/nimn/dto/food/FoodChoiceSetDTO.java
  Backend/src/main/java/com/demo/nimn/dto/food/FoodDTO.java
  Backend/src/main/java/com/demo/nimn/dto/notification/NotificationDTO.java
  Backend/src/main/java/com/demo/nimn/dto/notification/response/NotificationCountDTO.java
  Backend/src/main/java/com/demo/nimn/entity/food/Food.java
  Backend/src/main/java/com/demo/nimn/entity/notification/Notification.java
  Backend/src/main/java/com/demo/nimn/enums/FoodTime.java
  Backend/src/main/java/com/demo/nimn/repository/notification/NotificationRepository.java
  Backend/src/main/java/com/demo/nimn/service/food/FoodServiceImpl.java
  Backend/src/main/java/com/demo/nimn/service/notification/NotificationServiceImpl.java
  Backend/src/main/java/com/demo/nimn/service/order/OrderServiceImpl.java
  Backend/src/main/java/com/demo/nimn/websocket/CustomChannelInterceptor.java
  Backend/src/main/java/com/demo/nimn/websocket/CustomHandshakeHandler.java
  Backend/src/main/java/com/demo/nimn/websocket/CustomHandshakeInterceptor.java
  Backend/src/main/java/com/demo/nimn/websocket/StompPrincipal.java
  Backend/src/main/resources/test_data.sql
Labels: refactor, backend

#126 feat: 관리자 페이지 및 로그인 API 연결 및 수정(#101, #103)
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/pages/Admin.jsx
  Frontend/src/pages/Login.jsx
Labels: refactor, frontend

#127 feat: 모든 유저 관련 API 연결(#122)
  Frontend/src/CSS/Signup.css
  Frontend/src/pages/Login.jsx
  Frontend/src/pages/MyPage.jsx
  Frontend/src/pages/Signup.jsx
  Frontend/src/pages/UserInfoUpdate.jsx
Labels: refactor, frontend

#128 Feat: 로그인 디코팅 추가 및 유저 정보 업데이트 헤더 추가(#101, #102)
  Frontend/src/pages/Login.jsx
  Frontend/src/pages/UserInfoUpdate.jsx
Labels: refactor, frontend

#130 Refactor: 일주일 식단 선택 페이지 리팩토링
  Frontend/src/CSS/DietSelectionPage.css
  Frontend/src/CSS/Signup.css
  Frontend/src/components/BottomNav.jsx
  Frontend/src/pages/DietSelectionPage.jsx
Labels: refactor, frontend

#129 Refactor: Diet, Auth, Email 리팩토링
  Backend/src/main/java/com/demo/nimn/controller/auth/UserController.java
  Backend/src/main/java/com/demo/nimn/controller/diet/DailyDietController.java
  Backend/src/main/java/com/demo/nimn/controller/diet/FoodSelectionController.java
  Backend/src/main/java/com/demo/nimn/controller/diet/WeeklyDietController.java
  Backend/src/main/java/com/demo/nimn/controller/email/EmailController.java
  Backend/src/main/java/com/demo/nimn/dto/diet/Request/DailyDietRequestDTO.java
  Backend/src/main/java/com/demo/nimn/dto/diet/Request/FoodSelectionRequestDTO.java
  Backend/src/main/java/com/demo/nimn/dto/diet/Response/DailyDietDTO.java
  Backend/src/main/java/com/demo/nimn/entity/diet/FoodSelection.java
  Backend/src/main/java/com/demo/nimn/filter/LoginFilter.java
  Backend/src/main/java/com/demo/nimn/service/diet/DietServiceImpl.java
  Backend/src/main/java/com/demo/nimn/service/diet/FoodSelectionServiceImpl.java
  Backend/src/main/java/com/demo/nimn/service/notification/NotificationServiceImpl.java
  Backend/src/main/java/com/demo/nimn/service/review/ReviewServiceImpl.java
Labels: refactor, backend

#133 refactor: 결제 연동 완료
  Frontend/src/CSS/DietPaymentComplete.css
  Frontend/src/CSS/DietPaymentMainPage.css
  Frontend/src/CSS/DietPaymentPage.css
  Frontend/src/components/Header.jsx
  Frontend/src/pages/DietPaymentComplete.jsx
  Frontend/src/pages/DietPaymentPage.jsx
Labels: refactor, frontend

#134 refactor: 마이페이지 수정 및 주문내역 연동(#102)
  Frontend/src/CSS/OrderList.css
  Frontend/src/pages/MyPage.jsx
  Frontend/src/pages/OrderList.jsx
Labels: refactor, frontend

#136 Refactor: 내 식단 페이지 api 연동 테스트 및 디자인 수정
  Frontend/src/CSS/WeeklyFoodMenu.css
  Frontend/src/pages/DietPaymentComplete.jsx
  Frontend/src/pages/WeeklyFoodMenu.jsx
Labels: refactor, frontend

#135 refactor: Notification test 엔드포인트 파라미터 추가 (#50)
  Backend/src/main/java/com/demo/nimn/controller/notification/NotificationController.java
  Backend/src/main/java/com/demo/nimn/service/notification/NotificationService.java
  Backend/src/main/java/com/demo/nimn/service/notification/NotificationServiceImpl.java
Labels: refactor, backend

#137 refactor: 전체 식단 API 연결 및 알림 페이지 연결 완료(#112)
  Frontend/src/pages/AllDietPage.jsx
  Frontend/src/pages/Notification.jsx
Labels: refactor, frontend

#139 Refactor: 메인 페이지 소켓 테스트
  Frontend/src/pages/MainPage.jsx
Labels: refactor, frontend

#142 Refactor: 헤더, 바텀내비, 마이페이지 수정
  Frontend/src/App.js
  Frontend/src/CSS/Mypage.css
  Frontend/src/components/BottomNav.jsx
  Frontend/src/components/Header.jsx
  Frontend/src/components/Layout.jsx
  Frontend/src/pages/DietSelectionPage.jsx
  Frontend/src/pages/Login.jsx
  Frontend/src/pages/MainPage.jsx
  Frontend/src/pages/MyPage.jsx
Labels: refactor, frontend

#145 refactor: 헤더 콘솔 로그 삭제 및 사용자 닉네임 수정
  Frontend/src/components/Header.jsx
Labels: refactor, frontend

#146 feat: 설문조사 연결 완료 및 전체식단 리뷰 조회(#19)
  Frontend/src/CSS/AllDietPage.css
  Frontend/src/CSS/DietInfoPage.css
  Frontend/src/CSS/Survey.css
  Frontend/src/pages/AllDietPage.jsx
  Frontend/src/pages/DietInfoPage.jsx
  Frontend/src/pages/Survey.jsx
Labels: refactor, frontend

#141 fix: DailyDietReview 수정할 때 createdAt 필드 null 오류 해결
  Backend/src/main/java/com/demo/nimn/controller/review/ReviewController.java
  Backend/src/main/java/com/demo/nimn/dto/review/DailyDietReviewUpdateDTO.java
  Backend/src/main/java/com/demo/nimn/service/review/ReviewServiceImpl.java
  Backend/src/main/resources/application.properties
Labels: fix, backend

#149 refactor: 유저 정보 수정 페이지 이름 및 이메일 필드 읽기 전용 추가
  Frontend/src/CSS/UserInfoUpdate.css
  Frontend/src/pages/UserInfoUpdate.jsx
Labels: refactor, frontend
