Repository 2-jjong/LikeLion-12th-Hackathon, pull requests merged in 2025-07, with the labels that each got.

#147 feat: 비밀번호 변경 기능 추가 및 유저 정보 수정 로직 수정
  Backend/src/main/java/com/demo/nimn/controller/auth/UserController.java
  Backend/src/main/java/com/demo/nimn/dto/auth/PasswordChangeDTO.java
  Backend/src/main/java/com/demo/nimn/dto/auth/UserDTO.java
  Backend/src/main/java/com/demo/nimn/entity/auth/Users.java
  Backend/src/main/java/com/demo/nimn/service/auth/UserService.java
  Backend/src/main/java/com/demo/nimn/service/auth/UserServiceImpl.java
Labels: feature, backend

#153 refactor: 불필요한 주석 및 파일 삭제
  Frontend/src/App.js
  Frontend/src/CSS/AllDietPage.css
  Frontend/src/pages/DietPaymentComplete.jsx
  Frontend/src/pages/DietPaymentMainPage.jsx
  Frontend/src/pages/DietPaymentPage.jsx
  Frontend/src/pages/DietSelectionPage.jsx
  Frontend/src/pages/MainPage.jsx
  Frontend/src/pages/MenuSelectionPage.jsx
  Frontend/src/pages/OrderList.jsx
  Frontend/src/pages/Signup.jsx
  Frontend/src/pages/Survey.jsx
  Frontend/src/pages/SurveyDetail.jsx
  Frontend/src/pages/WeeklyFoodMenu.jsx
Labels: refactor, frontend

#151 refactor: Notification 및 WebSocket 주석 로그 정리 및 import, Swagger 정리 (#50, #41)
  Backend/src/main/java/com/demo/nimn/controller/food/FoodController.java
  Backend/src/main/java/com/demo/nimn/controller/notification/NotificationController.java
  Backend/src/main/java/com/demo/nimn/service/food/FoodService.java
  Backend/src/main/java/com/demo/nimn/service/food/FoodServiceImpl.java
  Backend/src/main/java/com/demo/nimn/service/notification/NotificationServiceImpl.java
  Backend/src/main/java/com/demo/nimn/websocket/CustomChannelInterceptor.java
  Backend/src/main/java/com/demo/nimn/websocket/CustomHandshakeHandler.java
  Backend/src/main/java/com/demo/nimn/websocket/CustomHandshakeInterceptor.java
Labels: refactor, backend

#154 Refactor: 불필요한 파일 삭제
  Frontend/src/App.js
  Frontend/src/CSS/MealCard.css
  Frontend/src/CSS/Meals.css
  Frontend/src/CSS/MenuSelectionPage.css
  Frontend/src/CSS/SelectionMealCard.css
  Frontend/src/CSS/SelectionMeals.css
  Frontend/src/CSS/SelectionMenuCard.css
  Frontend/src/CSS/SelectionMenus.css
  Frontend/src/components/MealCard.jsx
  Frontend/src/components/Meals.jsx
  Frontend/src/components/SelectionMealCard.jsx
  Frontend/src/components/SelectionMeals.jsx
  Frontend/src/components/SelectionMenuCard.jsx
  Frontend/src/components/SelectionMenus.jsx
  Frontend/src/components/testSelect.jsx
  Frontend/src/pages/testMain.jsx
Labels: refactor, frontend

#155 refactor: 관리자페이지 식단 가격 필터링 타입 변경 및 주문내역 천단위 소수점 추가
  Frontend/src/pages/Admin.jsx
Labels: refactor, frontend

#159 fix: Swagger 서버 URL http로 고정되는 현상 수정
  Backend/src/main/java/com/demo/nimn/config/SwaggerConfig.java
Labels: fix, backend

#160 Chore: 모든 api http에서 https로 변경
  Frontend/package-lock.json
  Frontend/src/App.js
  Frontend/src/components/BottomNav.jsx
  Frontend/src/components/Header.jsx
  Frontend/src/pages/AccountRecovery.jsx
  Frontend/src/pages/Admin.jsx
  Frontend/src/pages/AllDietPage.jsx
  Frontend/src/pages/DietPaymentPage.jsx
  Frontend/src/pages/DietSelectionPage.jsx
  Frontend/src/pages/Login.jsx
  Frontend/src/pages/MainPage.jsx
  Frontend/src/pages/MyPage.jsx
  Frontend/src/pages/Notification.jsx
  Frontend/src/pages/OrderList.jsx
  Frontend/src/pages/PasswordChange.jsx
  Frontend/src/pages/Signup.jsx
  Frontend/src/pages/Survey.jsx
  Frontend/src/pages/UserInfoUpdate.jsx
  Frontend/src/pages/WeeklyFoodMenu.jsx
Labels: frontend

#161 rafactor: 설문조사 페이지 모바일 반응형 수정 및 읽음 처리 추가
  Frontend/src/CSS/Survey.css
  Frontend/src/pages/Survey.jsx
Labels: refactor, frontend

#162 fix: 이미지 다운로드 API 경로 오류 해결 및 디폴트 이미지 로고 변경
  Frontend/src/pages/Admin.jsx
  Frontend/src/pages/AllDietPage.jsx
  Frontend/src/pages/DietInfoPage.jsx
  Frontend/src/pages/DietPaymentMainPage.jsx
  Frontend/src/pages/DietSelectionPage.jsx
  Frontend/src/pages/WeeklyFoodMenu.jsx
Labels: fix, frontend

#164 Fix: 각종 오류 수정 2
  Frontend/src/CSS/DietPaymentPage.css
  Frontend/src/CSS/Mypage.css
  Frontend/src/CSS/WeeklyFoodMenu.css
  Frontend/src/pages/Login.jsx
  Frontend/src/pages/MyPage.jsx
  Frontend/src/pages/OrderList.jsx
  Frontend/src/pages/WeeklyFoodMenu.jsx
Labels: fix, frontend

#166 fix:테스트 오류 및 수정사항 수정
  Frontend/src/CSS/AccountRecovery.css
  Frontend/src/CSS/Admin.css
  Frontend/src/CSS/AllDietPage.css
  Frontend/src/CSS/Notification.css
  Frontend/src/CSS/OrderList.css
  Frontend/src/CSS/PasswordChange.css
  Frontend/src/CSS/Survey.css
  Frontend/src/components/Header.jsx
  Frontend/src/pages/AccountRecovery.jsx
  Frontend/src/pages/Admin.jsx
  Frontend/src/pages/AllDietPage.jsx
  Frontend/src/pages/Notification.jsx
  Frontend/src/pages/Survey.jsx
Labels: fix, frontend

#167 refactor: 관리자페이지 식단 관리 로딩 텍스트 수정
  Frontend/src/CSS/Notification.css
  Frontend/src/pages/Admin.jsx
Labels: refactor, frontend

#168 refactor: Notification 모두 읽음 처리 로직 수정
  Backend/src/main/java/com/demo/nimn/repository/notification/NotificationRepository.java
  Backend/src/main/java/com/demo/nimn/service/notification/NotificationServiceImpl.java
Labels: refactor, backend

#170 refactor: 식단리뷰 이미지 비율 수정
  Frontend/src/CSS/Survey.css
Labels: refactor, frontend

#169 docs: 리드미 작성
  README.md
Labels: docs

#171 docs: 리드미 내용 수정 및 순번 수정
  README.md
Labels: docs
